<header class="header">
  <div class="header__wrap container">
    <div class="header__logo logo">
      <div class="logo__image">
        <img src="./assets/images/logo.png" alt="logo" />
      </div>
      <div class="logo__title">Agency</div>
    </div>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link link-active">Services</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Our Values</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Case Studies</a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
        <li class="menu__item">
          <a href="#" class="menu__link">Inner Pages</a>
        </li>
      </ul>
    </nav>
    <div class="header__actions actions">
      <div class="actions__sing">
        <a class="sing__login" href="#">login</a>
        <button class="sing__registration _btn">register</button>
      </div>
      <div class="actions__settings">
        <a href="#">
          <img src="./assets/images/shape.png" alt="share" />
        </a>
      </div>
    </div>
  </div>
</header>
