* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: $text-primary;
  font-size: 16px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

._btn {
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}
