// Container size
$size-xl: 1200px;
$size-l: 1024px;
$size-m: 768px;
$size-s: 400px;

// color global
$black: #0e0e0f;
$dark: #333333;
$green: #00b9b6;
$green-light: rgba(0, 185, 182, 0.1);
$orange: #ffa800;

// fonts

$h1-size: calc(28px + 20px * (100vw / 1920px));

// function

@function font-sz($min, $max) {
  $sum: ($max - $min);
  @return calc($min + $sum * (100vw / 1920px));
}
